* {
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
}

.lateral {
	background-color: #12C08F;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 350px;
	padding: 1em;
}

.perfil_circulo {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	overflow: hidden;
	margin: 0;
}
.perfil_foto {
	width: 100%;
}

.perfil_nombres {
	color: #fff;
	font-size: 20px;
	width: 250px;
	margin-left: .5em;
}

.perfil_nombres, .perfil_circulo {
	display: inline-block;
	vertical-align: middle;
}

.informacion {
	color: #0f6a62;
	position: absolute;
	bottom: 1em;
}

.informacion_titulo {
	font-size: 18px;
}

.habilidad {
	background-color: #0f6a62;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	padding: .5em;
	text-transform: uppercase;
}

.habilidades {
	padding: 0;
}

.proyectos {
	margin-left: 350px;
	padding: 1em;
	display: table;
}

.proyecto {
	display: table-cell;
	padding: 1em;
	width: 50%;
}

.proyecto_imagen {
	width: 100%;
}

.proyecto_titulo {
	color: #29597c;
	font-size: 18px;
}

.proyecto_descripcion {
	color: #797d7f;
}